@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes linkHover {
    0%{
        opacity: 0;
        width: 0;
    }
    100%{
        opacity: 1;
        width: 2.5rem;
    }
}

.link:hover>.line{
    animation: linkHover 3s ease;
}